footer.footer-principal {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: $black;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul {
      @include reset-list();
      .button{
        @include button--pink-blue();
      }
    }
  }
  