header.header-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint(tablet){
    padding-bottom: 0;
    margin-bottom: -2%;
  }
  margin-bottom: 38px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    @include reset-list();
  }
}
