/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/*
* Aquí empieza el proyecto
*/

:root{
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --color-black: #313131;
  --color-brown: #9B9A78;
  --color-gray: #909090;
  --color-white: white;
  --max-width-page: 1400px;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-page);
  padding: 16px;
  box-sizing: border-box;
}

header.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

nav.principal ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
}

nav.principal a{
  color: var(--color-black);
  text-decoration: none;
}

nav.principal a.active{
  color: var(--color-brown);
}

nav.principal a:hover{
  color: var(--color-brown);
}

aside.principal ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
  align-items: center;
}

aside.principal a{
  color: var(--color-black);
  text-decoration: none;
}

aside.principal a.Link{
  color: var(--color-brown);
  text-decoration: underline;
}

aside.principal a.Button{
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-brown);
  padding: 14px 30px;
  transition: all 1s ease;
}

aside.principal a.Button:hover{
  background-color: var(--color-black);
}

aside.principal a.Link:hover{
  color: var(--color-black);
}

section.hero{
  display: flex;
  justify-content: flex-end;
  background-image: url('../img/Hero-Background.jpg');
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 60px 0px;
}

div.hero_content{
  width: 50%;
  box-sizing: border-box;
}


div.hero_header{
  background: #FFFFFFB2;
  backdrop-filter: blur(4px);
  padding: 30px;
}

div.hero_header h1{
  font-family: var(--secondary-font);
  font-size: 46px;
  line-height: 60px;
  width: 500px;
  margin: 0;
  position: relative;
}

div.hero_header h1::before{
  content: '';
  height: 8px;
  width: 72px;
  position: absolute;
  right: 20px;
  top: 28px;
  background-color: var(--color-brown);
}

div.hero_header p{
  font-family: var(--primary-font);
  color: var(--color-brown);
  font-size: 16px;
  font-weight: 300;
}

div.hero_list{
  display: flex;
  justify-content: flex-end;
  font-family: var(--primary-font);
  font-size: 14px;
}

div.hero_list ul{
  padding: 0;
  margin: 0;
  list-style: none;
  width: 60%;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-right: 30px;
}

div.hero_list ul li{
  background: url(../img/Icon-Check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  padding-left: 24px;
}

section.info{
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

section.info article{
  padding: 27px 96px;
  font-family: var(--primary-font);
}

section.info article h3{
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

section.info article p{
  font-size: 14px;
  color: var(--color-brown);
  font-weight: 300;
  margin: 0;
}

section.info img{
  width:30%;
}