/* Responsive */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fuentes */
$primary-font: "Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;

/* Colores */
$color-orange: #D5966C;
$color-black: #151515;
$color-grey: #444444;
$color-white: #FFFFFF;
