/* Responsive */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fuentes */
$primary-font: "Space Grotesk", sans-serif;

/* Colores */
$color-black: #151515;
$color-grey: #242424;
$color-light-grey: #D9D9D9;
$color-white: #FFFFFF;
$color-green: #4EE1A0;
$color-red: #FF6F5B;

$color-orange: #D5966C;



