/* Fuentes */
$primary-font: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;

/* Colores */
$color-black: #070D15;
$color-blue: #264065;
$color-grey: #909090;
$color-white: #FFFFFF;
$color-cyan: #A9D6CB;
$color-grey-bg: #FAF8F5;